body {
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  height:auto;
  width: 80px;
  transition: all 1.5s ease;
  opacity: 0;
}

/* posisi awal */
.logo1 {
  top: 10%;
  right: -100px;
}

.logo2 {
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.logo3 {
  top: 10%;
  left: -100px;
}

/* posisi akhir */
.animate .logo1 {
  right: calc(50% + 20px); /* 50% posisi tengah + jarak 50 + setengah lebar gambar */
  opacity: 1;
}

.animate .logo2 {
  top: 10%;
  opacity: 1;
}

.animate .logo3 {
  left: calc(50% + 20px);
  opacity: 1;
}
